<div>
    <h4>
        <a class="btn btn-success btn-lg back" backDirection>
            <span class="fa fa-arrow-left"></span>
        </a>
        <span *ngIf="isEditView">Edit</span><span *ngIf="!isEditView">Add</span> Quiz
    </h4>
    <div class="row">
        <div class="col col-xl-6 col-lg-12">
            <form class="form-horizontal noon-form" #manageQuizForm="ngForm" (ngSubmit)="manageQuizForm.form.valid && manageQuiz()">
                <div class="form-group row">
                    <label class="control-label col-sm-4" for="quiz_name">Name :</label>
                    <div class="col col-sm-8">
                        <input type="text" id="quiz_name" class="form-control" placeholder="Enter name" name="quiz_name"
                            [(ngModel)]="quizModel.name" #quiz_name="ngModel" required>
                        <div *ngIf="quiz_name.invalid && (quiz_name.touched || manageQuizForm.submitted)">
                            <p class="input-info error-message" *ngIf="quiz_name.errors.required">Quiz name is required</p>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-4" for="quiz_code">Code :</label>
                    <div class="col col-sm-8">
                        <input type="text" id="quiz_code" class="form-control" placeholder="Enter code" name="quiz_code"
                            [(ngModel)]="quizModel.code" #quiz_code="ngModel" required>
                        <div *ngIf="quiz_code.invalid && (quiz_code.touched || manageQuizForm.submitted)">
                            <p class="input-info error-message" *ngIf="quiz_code.errors.required">Code is required</p>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-4" for="num_que">Pass mark :</label>
                    <div class="col col-sm-8">
                        <input type="number" min="0" step="0.10" id="pass_mark" class="form-control" placeholder="Enter pass mark"
                            name="pass_mark" [(ngModel)]="quizModel.passMark" #pass_mark="ngModel" required>
                        <div *ngIf="pass_mark.invalid && (pass_mark.touched || manageQuizForm.submitted)">
                            <p class="input-info error-message" *ngIf="pass_mark.errors.required">Pass mark is required</p>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-4" for="num_que">Number of que. :</label>
                    <div class="col col-sm-8">
                        <input type="number" min="0" step="1" id="num_que" class="form-control" placeholder="Enter Number of que."
                            name="num_que" [(ngModel)]="quizModel.numQuestions" #num_que="ngModel" required>
                        <div *ngIf="num_que.invalid && (num_que.touched || manageQuizForm.submitted)">
                            <p class="input-info error-message" *ngIf="num_que.errors.required">Number of que. is
                                required</p>
                        </div>
                    </div>
                </div>              

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8 pull-right">
                        <button type="submit" class="btn btn-default m-r-20px" *ngIf="isEditView" [disabled]="manageQuizForm.invalid">Edit
                            quiz
                        </button>
                        <button type="submit" class="btn btn-default m-r-20px" *ngIf="!isEditView" [disabled]="manageQuizForm.invalid">Add
                            quiz
                        </button>
                        <button class="btn btn-danger" backDirection>Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>